$primary-color: hsl(257, 40%, 49%);
$neutral-color: #ffffff;
$tablet: 375px;
$desktop: 1440px;
$title-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: $title-font;
}
body {
	inline-size: 100%;
	block-size: 100vh;
	background-image: url(images/bg-mobile.svg);
	background-color: $primary-color;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0.5em 2em;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px auto 1fr 60px;
	grid-template-areas: "nav" "hero" "header" "footer";

	@media (min-width: $desktop) {
		padding: 1.5em 4em;
		background-image: url(images/bg-desktop.svg);
		background-size: contain;

		grid-template-columns: 50% 1fr;
		grid-template-rows: 60px 1fr 60px;
		grid-template-areas: "nav nav" "hero header" "hero footer";
	}

	color: $neutral-color;
	font-family: $body-font;
	font-size: 18px;
}

nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	img {
		inline-size: 135px;
		block-size: 50px;

		@media (min-width: $desktop) {
			inline-size: 225px;
			block-size: 50px;
		}
	}
}

body {
	> img {
		grid-area: hero;
		inline-size: 100%;
		// block-size: 100%;
		object-fit: scale-down;
		margin: 2.5em auto;
	}
}

main {
	grid-area: header;
	text-align: center;
	@media (min-width: $desktop) {
		text-align: left;
		padding: 3rem;
	}

	h1 {
		font-size: 1.5rem;
		@media (min-width: $desktop) {
			font-size: 3rem;
			font-weight: 600;
		}
		font-weight: 700;
		margin: 0.5rem 0;
	}

	p {
		font-size: 1rem;
		@media (min-width: $desktop) {
			font-size: 1.2rem;
		}
	}

	button {
		inline-size: 60%;
		block-size: 35px;
		@media (min-width: $desktop) {
			inline-size: 160px;
			block-size: 40px;
		}
		border: 0;
		border-radius: 25px;
		margin: 1.5em 0;
		background-color: $neutral-color;
		box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.13);
		font-size: 0.8rem;
		color: $primary-color;
		transition: all 0.4s;

		&:focus,
		&:hover {
			background: hsl(257, 40%, 59%);
			color: $neutral-color;
		}
	}
}

footer {
	grid-area: footer;
}

.socials {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (min-width: $desktop) {
		justify-content: end;
	}

	li {
		inline-size: 30px;
		block-size: 30px;
		border: 1px solid $neutral-color;
		border-radius: 50%;
		margin-inline-end: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.7rem;
	}
}
