// SIZES
$mobile-screen: 475px;
$desktop-screen: 1440px;
$font-size: 18px;
// COLORS
$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

$primary-color: $red;
$secondary-color: $very-dark-blue;
$tertiary-color: $grayish-blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  position: relative;
  overflow-x: hidden;
}

#gray-bg {
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 50vw;
  block-size: 50vh;
  z-index: -1;
  background-color: $light-grayish-blue;
  border-bottom-left-radius: 5rem;
}

.container {
  inline-size: 85%;
  margin: auto;

  @media screen and (min-width: $mobile-screen) {
    inline-size: 75%;
  }
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @media screen and (max-width: $mobile-screen) {
    ul {
      display: none;
      position: absolute;
      inline-size: 100%;
      padding: 0.25em 1em;
      min-block-size: 100%;
      list-style-type: none;
      text-align: center;
      background-color: #ffffff;
      z-index: 2;
      margin-block-start: 300px;
      border-radius: 0.35rem;
      box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
      animation-name: fadeMenuUp;
      animation-duration: 0.35s;
      animation-timing-function: ease-in;

      &.show {
        display: block;
      }

      @keyframes fadeMenuUp {
        0% {
          opacity: 0;
          transform: translateY(32px);
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      li {
        margin: 1.25em 0;
        animation-name: fadeItemUp;
        animation-duration: 0.55s;
        animation-timing-function: ease-in;
        animation-delay: 0.1s;

        @keyframes fadeItemUp {
          0% {
            opacity: 0;
            transform: translateY(20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }

        a {
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          color: $secondary-color;
        }

        &.action {
          border-block-start: 2px solid $light-grayish-blue;
          padding-block-start: 1em;

          a {
            color: $tertiary-color;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $mobile-screen) {
    ul {
      list-style-type: none;
      display: inline-flex;

      li {
        margin-inline-start: 64px;
        a {
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          color: $secondary-color;
        }

        &.action {
          &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-inline-end: 64px;
            margin-block-end: 2px;
            border-radius: 50px;
            background-color: $tertiary-color;
            opacity: 0.5;
          }
          a {
            color: $tertiary-color;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .menu {
    @media screen and (min-width: $mobile-screen) {
      display: none;
    }
    .icon {
      background-color: $secondary-color;
      display: inline-block;
      transition: all 0.5s;
      width: 24px;
      height: 24px;
      -webkit-mask: url(./images/icon-hamburger.svg) no-repeat center left;
      mask: url(./images/icon-hamburger.svg) no-repeat center left;

      &.show {
        -webkit-mask: url(./images/icon-close.svg) no-repeat center left;
        mask: url(./images/icon-close.svg) no-repeat center left;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $mobile-screen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__text {
    @media screen and (min-width: $mobile-screen) {
      margin: 0;
      margin-inline-start: auto;
      padding-inline-end: 5em;
    }
    .content__description {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: $tertiary-color;
      font-size: 0.75rem;

      span {
        display: inline-block;
        background-color: $secondary-color;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        padding: 0.25em 0.75em;
        margin-inline-end: 0.5rem;
        border-radius: 1em;
      }
    }

    .content__title {
      font-size: 2.4rem;
      text-transform: uppercase;
      color: $secondary-color;
      margin: 0.25em 0;

      @media screen and (min-width: $mobile-screen) {
        font-size: 3.25rem;
      }
    }

    .content__body {
      margin: 0.75em 0;
      color: $dark-grayish-blue;
      font-size: 1.25rem;

      @media screen and (min-width: $mobile-screen) {
        inline-size: 60%;
      }
    }

    .content__actions {
      display: flex;
      align-items: center;
      @media screen and (min-width: $mobile-screen) {
        margin-block-start: 5rem;
      }

      .content__actions-cta {
        background-color: $primary-color;
        color: #ffffff;
        letter-spacing: 0.05em;
        transition: background-color 0.3s;

        &:hover,
        &:focus {
          background-color: #ff5c5caa;
        }
      }

      .content__actions-text {
        margin-inline-start: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $tertiary-color;
        font-size: 0.75rem;

        @media screen and (min-width: $mobile-screen) {
          letter-spacing: 0.25rem;
        }
      }
    }
  }

  &__image {
    inline-size: 100%;
    block-size: 320px;
    position: relative;
    margin-block-end: 1.5rem;

    @media screen and (min-width: $mobile-screen) {
      block-size: 80vh;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: 1;
      inline-size: 100%;
      block-size: 100%;
      background-repeat: no-repeat;
      background-size: 135%;
      background-position-x: 7px;
      background-image: url(./images/illustration-devices.svg);
    }
  }
}

button {
  inline-size: 150px;
  block-size: 45px;
  font-weight: 700;
  font-size: 0.55rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button.menu {
  inline-size: unset;
  block-size: unset;
  background: transparent;
}
